@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

*{
  box-sizing: border-box;
}

body, html{
  margin: 0;
  padding: 0;
}