.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
}

.backLink{
  background: none;
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  position:fixed;
  top: 25px;
  left: 25px;
  cursor: pointer;
  font-size: 16px;
  color: inherit;
}

.backLink:hover{
  background: rgba(0,0,0,0.1);
}

.innerContainer{
  user-select: none;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

.gallery{
  min-width: 112px;
  max-width: 112px;
  position: relative;
}

.galleryInner{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-y:auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.galleryInner::-webkit-scrollbar { 
  display: none;
}

.galleryItem{
  width: 100%;
  object-fit: contain;
  padding: 10px;
  cursor: pointer;
}

.galleryImg{
  width: 100%;
  object-fit: contain;
  pointer-events: none;
  border: 1px solid transparent;
}

.activeGalleryImg{
  border: 1px solid black;
}

.showcase{
  width: 100%;
  position: relative;
  user-select: none;
}


.showcase img{
  pointer-events: none;
  width: 100%;
  object-fit: contain;
  opacity: 1;
  padding: 38px;
  max-height: 458px;
}

img.hiddenImage{
  opacity: 0;
}

.canvasContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  padding: 15px;
  /* background: rgba(0,0,0,0.05); */
}

.canvasContainer canvas{
  mask-image: 
    linear-gradient(to right, 
      transparent 0%, 
      white 20%, 
      white 90%, 
      transparent 100%
    ),
    linear-gradient(to bottom, 
      transparent 0%, 
      white 20%, 
      white 90%, 
      transparent 100%
    ),
    linear-gradient(to left, 
      transparent 0%, 
      white 20%, 
      white 90%, 
      transparent 100%
    ),
    linear-gradient(to top, 
      transparent 0%, 
      white 20%, 
      white 90%, 
      transparent 100%
    );
  mask-composite: intersect;
}


.showcaseControls{
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.showcaseControl{
  font-size: 18px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.showcaseControl:hover{
  background: rgba(0,0,0,0.04);
}

.showcaseControl.controlActive{
  background: rgba(0,0,0,0.04);
  border: 1px solid black;
}

.descriptionContainer{
  width: 100%;
  max-width: 40%;
  line-height:2;
  padding: 15px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.title{
  font-size: 30px;
}

.description{
  font-size: 15px;
  padding-bottom: 15px;
}

.descriptionLowerHalf{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sizes{
  display: flex;
  justify-content: end;
  font-size: 17px;
  color: rgba(0,0,0,0.57);
  margin-right: -16px;
}

.size{
  text-align: center;
  padding: 0 11px;
  border: 1px solid transparent;
  cursor: pointer;
}

.activeSize{
  color: black;
  border: 1px solid black;
}

.colors{
  display: flex;
  justify-content: end;
  margin-right: -9px;
}

.color{
  padding: 9px;
  height: 37.5px;
  width: 37.5px;
  cursor: pointer;
}

.swatch{
  width: 100%;
  height: 100%;
}

.activeColor{
  border: 2px solid black;
}

.price{
  display: flex;
  justify-content: end;
  font-size: 20px;
}

.addToCart{
  width: 100%;
  background: rgba(0,0,0,0.8);
  border: none;
  outline: none;
  padding: 11px;
  font-size: 12px;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.addToCart:hover{
  background: rgba(0,0,0,0.75);
}
